<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection,Enyim.Caching"/>
    </sectionGroup>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    <section name="northscale" type="Membase.Configuration.MembaseClientSection,Membase"/>
  </configSections>

  <northscale>
    <servers bucket="default">
      <add uri="http://192.168.2.200:8080/pools/default" />
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" />
    <locator type="Enyim.Caching.Memcached.DefaultNodeLocator,Enyim.Caching" />
  </northscale>

  <enyim.com>
    <memcached>
      <servers>
        <add address="localhost" port="20002" />
        <add address="localhost" port="20004" />
        <add address="127.0.0.1" port="20006" />
        <add address="127.0.0.1" port="20008" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
      <authentication type="Enyim.Caching.Memcached.PlainTextAuthenticator, Enyim.Caching" userName="demo" password="demo" />
    </memcached>
  </enyim.com>

  <memcached>
    <servers>
      <add address="localhost" port="20002" />
      <add address="localhost" port="20004" />
      <add address="127.0.0.1" port="20006" />
      <add address="127.0.0.1" port="20008" />
    </servers>
    <socketPool minPoolSize="2" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
  </memcached>

  <appSettings>
    <!--CacheType：1、MemcachedCache  2、DefaultCache-->
    <add key="CacheType" value="DefaultCache"/>
  </appSettings>
</configuration>